.App {
  text-align: center;
}

.container {
  margin: 10px;
}

.segment {
  padding: 0 !important;
}

.divider {
  margin: 25px 0 0 0 !important;
}

.header {
  margin: 0 10px;
  padding-top: 15px;
}

.icon-button-left{
  padding-left: 15px;
  padding-right: 25px;
}

.icon-button-center{
  padding-left: 10px;
  padding-right: 25px;
}

.icon-button-right{
  padding-left: 25px;
  padding-right: 25px;
}

.post-button{
  color: #3681ff;
}

.post-button-disabled{
  color: #cfe1ff;
}

.text-button {
  cursor: pointer;
}

.text-link {
  color: #3681ff;
}

.image-button {
  margin: 10px;
  opacity: 0.85;
}

.floated-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.floated-left {
  position: absolute;
  left: 0;
}

.floated-right {
  position: absolute;
  right: 0;
}

.floated-bottom {
  position: absolute;
  bottom: 0;
}

.image-slide-left {
    transition: 1s;
    left: 0;
}

.image-slide-right {
}

.image-slide-left{
  position: relative;
  animation: animateleft .4s;
  }
@keyframes animateleft{
  from{
    left:-1500px;
  }
  to{
    left:0;
  }
}

.image-slide-right{
  position: relative;
  animation: animateright .4s;
}
@keyframes animateright{
  from{
    right:-1500px;
  }
  to{
    right:0;
  }
}
